<div class="col-md-8 central-panel">
	<!-- STAFF -->
	<div class="row">
		<div class="col-md-offset-1 logged-margin-top">

			<h1><%= link_to raw("&lArr; Staff"), root_path %></h1>
			<small>page number: </small>
		</div>
	</div>
	<div class="row">


		<div id="staff-member-display">
			<% @staff.each do |t| %>

			<div class="col-md-2 staff-styling">
				<div class="well">
					Name: <%= t.name %> <br>
					Happiness: <%= t.happiness %> <br>
					Salary: <%= t.salary %> <br>
					Performance: <%= t.performance %> <br>
					<div class="btn btn-success">
						Assign
					</div>
				</div>

			</div>
			<% end %>
		</div>
	</div>
</div>





