<div class="col-md-8 central-panel">
	<!-- STAFF -->
	<div class="row">
		<div class="col-md-offset-1 logged-margin-top">

			<h1><%= link_to raw("&lArr; Customers"), root_path %></h1>
			<small>page number: </small>
		</div>
	</div>
	<div class="row">


		<div id="staff-member-display">
			<% @customers.each do |t| %>
			<%= link_to customer_path(t) do%>
			<div class="col-md-2 staff-styling">

				<div class="well">
					Name: <%= t.name %> <br>
					Affluence: <%= t.affluence %> <br>
					Assigned: <%= t.staff.name %> <br>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>