<!DOCTYPE html>
<html>
<head>
	<title>GlasgowMashers</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/navigation.html.erb' %>
	<div class="margin-top"></div>
	<div class="row">
		
		<%= render 'layouts/left_pane.html.erb' %>
		<%= yield %>
		<%= render 'layouts/right_pane.html.erb' %>
		
	</div>



</body>
</html>
